.hamburger-popup {
    position: fixed;
    
    left: 0;
    top: 70px;
    width: 100vw;
    height: calc(100vh - calc(54px + 1em));
    z-index: 3; /* puts it above everything else */
    
    overflow-y: auto;

    padding: 1rem;

    /* background-color: var(--bcolor-bg-white); */
    background-color: white;

    transition: transform 0.3s ease-out;
}

.closed {
    transform: translateY(-100%);
}

.open {
    transform: translateY(0);
}




.navigation-box {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);

    display: flex;
    flex-direction: column;
}

.page-box {
    text-align: left;
    list-style: none;

    padding: 5px 0;
}


.page-link, .page-link-bold {
    padding: 30px 30px;

    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    
    display: block;

    transition-duration: 0.2s;
}

.page-link:hover {
    background-color: var(--bcolore-light-blue);
}

.page-link:link,
.page-link:visited {
    color: var(--bcolor-navy);
}


.page-link-bold {
    padding: 40px 40px;

    border-radius: 10px;

    background-color: var(--bcolor-navy);
}

.page-link-bold-li {
    margin-top: auto;
    margin-bottom: 30px;
}

.page-link-bold:hover {
    background-color: var(--bcolore-dark-navy);
}

.page-link-bold:link,
.page-link-bold:visited {
    color: white;
}