.footer {
    width: calc(100vw);

    position: relative;
}

.footer-content { /*basically undoing some o the content-holder styling he dont want*/
    border: 0;
    margin: 0.5em auto
}


.squiggly-guys {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.squiggly-guy {
    width: fit-content;
    display: inline-block;
}


.logo-link {
    text-decoration: none;
}

.logo-link:hover {
    text-decoration: none;
}

.horizontal-divide {
    display: flex;
    align-items: center;
}

.logo {
    height: 3.5em;
}

.fancy1 {
    padding-left: 0;
    margin-top: 0.4em;
    margin-bottom: 0;

    font-size: 2em;
    line-height: 1;
    text-decoration: none;
}

.fancy2 {
    margin-top: 0;
    padding-left: 0.5em;

    color: var(--bcolor-denim);
    font-size: 1em;
    line-height: 1;
    text-decoration: none;
}

.denim {
    color: var(--bcolor-denim);
}

.lime-green {
    color: var(--bcolor-lime-green);
}


.info-box {
    width: fit-content;

    padding: 0.5em 0.7em;

    h2 {
        margin: 0;

        font-size: 2em;
        color: var(--colorbc-text);
        text-align: right;
    }

    h4 {
        margin: 0;
        margin-bottom: 0.67em;

        font-size: 0.9em;
        color: var(--colorbc-subtext);
        text-align: right;
    }

    ul {
        margin: 0;
        padding: 0;

        list-style: none;
        font-size: 0.9em;
        text-align: left;
    }
}

.contact-button {
    margin: 0 auto;
}


.regulation-box {
    background-color: color-mix(in srgb, var(--color-background) 50%, transparent); /*makes it the bg colour, then 50% transpoarent*/

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    margin: 0;

    text-align: center;

    .text-holdinator {
        width: calc(100% - 2rem);
        max-width: 50rem;
        margin: 0 auto;
    }

    p {
        margin: 0;
        font-size: 0.8em;
        font-style: italic;
    }

    h4 {
        font-size: 0.9em;
        margin: 0;
    }
}


.squiggly-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    padding: 0.5rem 0 1rem 0;
}


.little-text-box {
    font-size: 0.8em;
    margin: 0;

    width: fit-content;
    display: inline-block;
}

.copyright-words {
    text-align: center;
    margin: 0;
    padding: 0 1.5rem;
}

.terms-words {
    text-align: center;
    margin: 0;
    padding: 0 1.5rem;

    text-decoration: none;
}

.terms-link {
    text-decoration: none;
}

.terms-link:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--color-text);
    text-decoration-thickness: 0.09em;
}