h1 {
    font-family: "AQL-Serif", serif;
    font-size: 4.5em;
    color: var(--color-text);
    text-align: center;

    line-height: 0.9;
}

h2 {
    font-family: "AQL-Serif", serif;
    font-size: 3em;
    color: var(--color-text);
    text-align: center;

    line-height: 0.9;
}

h3 {
    font-family: "AQL-Serif", serif;
    font-size: 2em;
    color: var(--color-text);
    text-align: center;

    line-height: 0.9;
}

h4 {
    margin: 0.5em 0;
    font-size: 1.15em;
    color: var(--color-text);
}

p {
    color: var(--color-text);
    margin: 0.5em 0;
}


.app {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        transparent 95%,
        var(--color-footer)
    );

    /*currently unused*/
    display: flex;
    flex-direction: column;
}

.base-page {
    background-color: var(--color-background);
    display: flow-root; /*prevents the div from collapsing a little and removing the lower margin (this works somehow, ttp*/
}

.content-holder {
    max-width: 1300px;
    margin: 0.5em auto 2em auto;
    padding: 0.5em min(5vw, 4em);

    border: 0;
    border-left: 3px solid var(--color-footer);
    border-right: 3px solid var(--color-footer);
}

.free-content-holder {
    margin: 0 auto;
    padding: 0.5em min(5vw, 4em);
}


.center-div {
    display: flex;
    justify-content: center;
}


.ominous-logo {
    position: fixed;

    right: -70px;
    bottom: 0;

    height: 380px;

    z-index: -1;
    pointer-events: none;

    filter: opacity(67%);
}