body {
    margin: 0;
    padding: 0;
    
    background-color: var(--color-footer);
    color: var(--color-text);
    font-family: "AQL-Sans-Serif";

    text-rendering: optimizeLegibility;
}

html, body {
    overflow-x: hidden;
}

a:link {
    color: var(--color-link);
}

a:visited {
    color: var(--color-link-visited);
}